@font-face {  
  src: url(Montserrat-Regular.ttf) format("truetype");
  font-family: "Sans-Serif";
}

h1 {
    color: white;
    background-color: #1DB954;
    font-size: 50px;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    margin: auto;
    font-family: Montserrat-Regular;
  }
  
  h2{
    color: white;
    background-color: #1DB954;
    font-size: 35px;
    padding: 3px;
    border-radius: 3px;
  }
  
  p{
    font-size: 15px;
    font-family: Montserrat-Regular, Helvetica, Sans-Serif;
  }
  
  body{
    background-color: #535353;
  }
  
  ul{
    background-color: #1DB954;
    font-size: 15px;
  }
  
  li, a, strong{
    font-size: 15px;
  }
  
  .navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 18px;
  }
  
  .span{
    background-color: #1DB954;
  }
  
  .col-sm-8{
    background-color: #FFFFFF;
  }
  
  #adjectives{
    color: black;
    background-color: #1DB954;
    font-size: 75px;
    padding: 8px;
    margin: auto;
    border-radius: 3px;
    text-align: center;
  }
  
  #DataTables_Table_0{
    color: white;
    font-family: Montserrat-Regular;
    background-color: #535353;
  }
  